html {
    color: white;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

div#shiprender {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 100%;
}

canvas {
    margin-left: 18%;
}