    @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
     ::-webkit-scrollbar {
        width: 10px;
    }
    
     ::-webkit-scrollbar-track {
        background-color: #161a1d;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #FFFF;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background-color: #9e0a08;
    }
    
    body {
        font-family: "Roboto", sans-serif;
        /*  background: linear-gradient(45deg, #4d0506 0%, #161a1d calc(60% + 1px), #161a1d 100%) no-repeat;*/
        background-color: #bdc3c7;
        overflow-x: hidden;
    }
    /* Custom navbar */